Repository Joumanasalahedin/zapgaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format-app, backend-format-agent, frontend-lint, frontend-format, frontend-type-check

backend-format-app:
  name: backend-format-app
  entry: black app
  language: system
  pass_filenames: false

backend-format-agent:
  name: backend-format-agent
  entry: black agent
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend-lint
  entry: yarn --cwd frontend lint
  language: system
  pass_filenames: false

frontend-format:
  name: frontend-format
  entry: yarn --cwd frontend format
  language: system
  pass_filenames: false

frontend-type-check:
  name: frontend-type-check
  entry: yarn --cwd frontend type-check
  language: system
  pass_filenames: false

Add endpoint to retrieve user results by name and birthdate; enhance ResultsPage UI
  app/api/users.py
  frontend/src/pages/ResultsPage.tsx
Due: backend-format-app, frontend-lint, frontend-format, frontend-type-check

Update CI/CD workflows to improve formatting checks, add Node.js types, and enhance error handling in linter and test steps.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  frontend/package.json
  frontend/tsconfig.json
Due: frontend-lint, frontend-format, frontend-type-check

Update Node.js version in CI workflow to 22 and add @types/node dependency in yarn.lock
  .github/workflows/ci.yml
  frontend/yarn.lock
Due: frontend-lint, frontend-format, frontend-type-check

Refactor SingleResultPage: Adjust date formatting and update GDPR deletion button text for clarity
  frontend/src/pages/SingleResultPage.tsx
Due: frontend-lint, frontend-format, frontend-type-check

Add PostgreSQL service to CI workflow, implement lifespan context manager in FastAPI, and enhance test setup with PostgreSQL support. Introduce scripts for user checks and test key generation.
  .github/workflows/ci.yml
  agent/local_agent.py
  app/api/intake.py
  app/main.py
  app/tests/conftest.py
  app/tests/test_intake.py
  scripts/check_users.sh
  scripts/generate_test_key.py
  scripts/setup_test_db.sh
Due: backend-format-app, backend-format-agent

Remove outdated release notes for versions 1.0.3 and 1.0.4, and delete the test script. This cleanup helps streamline the repository by removing unnecessary files.
  RELEASE_NOTES_v1.0.3.md
  RELEASE_NOTES_v1.0.4.md
  test.sh
Due: none

Enhance NotFoundPage tests: Add act wrapper for rendering and flush promises to ensure proper async handling. Update fetch mock to simulate loading lottie animation on mount.
  frontend/src/pages/NotFoundPage.test.tsx
Due: frontend-lint, frontend-format, frontend-type-check

fixing lint errors
  frontend/src/components/AgentStatusChecker.tsx
  frontend/src/components/modals/AgentInstallModal.tsx
  frontend/src/pages/ResultsPage.tsx
  frontend/src/pages/SingleResultPage.tsx
  frontend/src/pages/TestPage.tsx
Due: frontend-lint, frontend-format, frontend-type-check

delete endpoints.md and run yarn format
  endpoints.md
  frontend/src/pages/NotFoundPage.test.tsx
  frontend/src/pages/SingleResultPage.tsx
Due: frontend-lint, frontend-format, frontend-type-check

Clean up
  agent/README_USER.md
  agent/acquisition_client.py
  agent/launcher.py
  agent/local_agent.py
  agent/setup_autostart.py
  app/acquisition/mediapipe_adapter.py
  app/acquisition/test_acquisition.py
  app/api/acquisition.py
  app/api/agent.py
  app/api/calibration.py
  app/api/features.py
  app/api/gdpr.py
  app/api/intake.py
  app/api/results.py
  app/api/session.py
  app/api/session_events.py
  app/api/users.py
  app/db/models.py
  app/main.py
  app/models/intake_models.py
  app/security.py
  app/utils/encryption.py
Due: backend-format-app, backend-format-agent

Update README.md
  README.MD
Due: none

run pre-commit hook for linting, formating, type-checking
  agent/local_agent.py
  frontend/src/components/AgentStatusChecker.module.css
  frontend/src/components/AgentStatusChecker.tsx
  frontend/src/pages/ResultsPage.module.css
Due: backend-format-agent, frontend-lint, frontend-format, frontend-type-check

Remove continue-on-error from test steps in CI workflow to enforce stricter error handling.
  .github/workflows/ci.yml
Due: none

Path conditions:
  backend-format-app: any of: ^app/
  backend-format-agent: any of: ^agent/
  frontend-lint: any of: ^frontend/
  frontend-format: any of: ^frontend/
  frontend-type-check: any of: ^frontend/
